mat-list-item
  width: 100%

mat-expansion-panel
  background-color: var(--dark-primary)

mat-panel-description
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-end

mat-expansion-panel-header
  min-height: calc(auto + 32px)

mat-panel-title img
  margin-top: 16px
  margin-right: 16px

mat-panel-title div
  max-width: 210px
  word-wrap: break-word

.card
  background-color: var(--dark-secondary)

.album-card
  width: 250px
  height: 250px
  display: flex
  justify-content: center
  align-items: center

.artist-chip
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.artist-chip div
  margin-inline: 8px

.size-25
  width: 25px
  height: 25px

.center-h
  width: 100%
  display: flex
  justify-content: center

mat-divider
  margin-block: 8px

.countrys-container
  height: 200px
  overflow-y: auto

  &::-webkit-scrollbar 
    width: 6px

  &::-webkit-scrollbar-thumb
    background-color: var(--light-primary)
    width: 6px
    border-radius: 10%

  &::-webkit-scrollbar-track
    background-color: var(--light-secondary)
    border-radius: 10% 