@if (type==='albums') {
<mat-list-item>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img mat-card-avatar [src]="album.image" />
        <div matListItemTitle>{{ album.name }}</div>
      </mat-panel-title>
      <mat-panel-description>
        <div matListItemLine>{{ album.releaseDate }}</div>
        <div matListItemLine>Tracks: {{ album.totalSongs }}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card class="card">
      <mat-divider></mat-divider>
      @defer (on viewport) {
      <div class="center-h">
        <img
          mat-card-image
          [width]="250"
          [height]="250"
          [src]="album.image"
          [alt]="'Photo of album ' + album.name"
        />
      </div>
      } @placeholder {
      <mat-card class="album-card"> </mat-card>
      } @loading {
      <mat-card class="album-card">
        <mat-spinner></mat-spinner>
      </mat-card>
      }
      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-card-subtitle class="center-h">Artists</mat-card-subtitle>
        <mat-chip-set aria-label="Artists in album" class="center-h">
          @for (artist of album.artists; track artist.id) {
          <mat-chip>
            <div class="artist-chip">
              @defer{
              <img
                matChipAvatar
                class="size-25"
                [src]="artist.image"
                [alt]="'Photo of ' + artist.name"
              />
              }
              <div matListItemLine>{{ artist.name }}</div>
              <button mat-mini-fab color="primary" class="size-25">
                <mat-icon>link</mat-icon>
              </button>
              <button mat-mini-fab color="primary" class="size-25">
                <mat-icon>public</mat-icon>
              </button>
            </div>
          </mat-chip>
          }
        </mat-chip-set>
        <mat-divider></mat-divider>

        <mat-card-subtitle class="center-h">Countrys</mat-card-subtitle>
        <mat-chip-set
          class="countrys-container"
          aria-label="Market places of album"
        >
          @for (acronym of album.availableMarkets; track $index) {
          <mat-chip>
            {{ acronym }}
          </mat-chip>
          }
        </mat-chip-set>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary">SPOTIFY</button>
        <button mat-raised-button color="primary">FAVORITE</button>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-list-item>
} @else if (type==='songs') { }
