.main-container
  width: 95%
  max-width: 578px
  margin-left: 2%
  max-height: 808px
  overflow-y: auto
  transition: height 0.3s ease
  background-color: var(--light-secondary)
  
  &::-webkit-scrollbar 
    width: 6px

  &::-webkit-scrollbar-thumb
    background-color: var(--light-primary)
    width: 6px
    border-radius: 10%

  &::-webkit-scrollbar-track
    background-color: var(--light-secondary)
    border-radius: 10%

@media only screen and (max-width: 768px)
  .main-container
    max-width: 280px