<mat-card class="card">
  <mat-card-header>
    <span>
      <mat-card-title>{{ artist.name }}</mat-card-title>
      <mat-card-subtitle>Artist</mat-card-subtitle>
    </span>

    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Popularity</span>
        <span matListItemLine>{{ artist.popularity }}</span>
      </mat-list-item>
      <!-- <mat-list-item>
        <span matListItemTitle>Followers</span>
        <span matListItemLine>{{ artist.followers }}</span>
      </mat-list-item> -->
    </mat-list>
  </mat-card-header>

  @defer (on viewport) {
  <div class="image-container">
    <img
      mat-card-image
      [width]="250"
      [height]="250"
      [src]="artist.image"
      [alt]="'Photo of ' + artist.name"
    />
  </div>
  } @placeholder {
  <mat-card class="artist-card"> </mat-card>
  } @loading {
  <mat-card class="artist-card">
    <mat-spinner></mat-spinner>
  </mat-card>
  }

  <!-- <mat-card-content>
    <mat-chip-set aria-label="Musical generes of artist">
      @for (genere of artist.genres; track $index) {
      <mat-chip class="mat-chip">{{ genere }}</mat-chip>
      }
    </mat-chip-set>
  </mat-card-content> -->

  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="primary"
      (click)="redirectToEspecificArtist()"
    >
      VIEW
    </button>
    <button mat-raised-button color="primary" (click)="redirectToSpotify()">
      SPOTIFY
    </button>
  </mat-card-actions>
</mat-card>
