<app-menu />
<div class="fund">
  <div class="container">
    <app-search (changeSearch)="handlerChangeOnSearch($event)" />

    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title>Artists</mat-card-title>
        <mat-card-subtitle>All</mat-card-subtitle>
        <span class="spacer"></span>
        <mat-paginator
          class="main-card"
          (page)="handleChangeOnOffset($event)"
          [hidePageSize]="true"
          [length]="lengthArtists"
          [pageSize]="limitSearch"
          [pageIndex]="pageIndex"
          aria-label="Select page"
        ></mat-paginator>
      </mat-card-header>

      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="650px">
          @for (artist of artists; track artist.id) {
          <mat-grid-tile>
            <app-card [artist]="artist" />
          </mat-grid-tile>
          }
        </mat-grid-list>
      </mat-card-content>

      <mat-card-footer>
        <mat-paginator
          class="main-card"
          (page)="handleChangeOnOffset($event)"
          [hidePageSize]="true"
          [length]="lengthArtists"
          [pageSize]="limitSearch"
          [pageIndex]="pageIndex"
          aria-label="Select page"
        ></mat-paginator>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<app-favorites />
