<mat-list-item>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img mat-card-avatar [src]="song.album.image" />
        <div matListItemTitle>{{ song.name }}</div>
      </mat-panel-title>
      <mat-panel-description>
        <div matListItemLine>Popularity</div>
        <div matListItemLine>{{ song.popularity }}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card class="card">
      <mat-card-title class="center-h title-max">
        {{ (song.songNumber + ". " + song.name).toString() }}
      </mat-card-title>
      <mat-card-subtitle class="center-h title-max">
        {{ song.albumNumber + ". " + song.album.name }}
      </mat-card-subtitle>
      <mat-card-subtitle class="center-h">{{
        "Duration: " + msToMinutesAndSeconds(song.duration)
      }}</mat-card-subtitle>

      <mat-divider></mat-divider>
      <mat-card-subtitle class="center-h">Album</mat-card-subtitle>
      <app-album-card [album]="song.album" [isInFavorites]="false" />
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-card-subtitle class="center-h">Artists</mat-card-subtitle>
        <mat-chip-set aria-label="Artists in song" class="center-h">
          @for (artist of song.artists; track artist.id) {
          <mat-chip>
            <div class="artist-chip">
              @defer{
              <img
                matChipAvatar
                class="size-25"
                [src]="artist.image"
                [alt]="'Photo of ' + artist.name"
              />
              }
              <div matListItemLine>{{ artist.name }}</div>
              <button
                mat-mini-fab
                color="primary"
                class="size-25"
                (click)="redirectToArtist(artist.id)"
              >
                <mat-icon>link</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="primary"
                class="size-25"
                (click)="redirectToSpotify(artist.urlOpenOnSpotify)"
              >
                <mat-icon>public</mat-icon>
              </button>
            </div>
          </mat-chip>
          }
        </mat-chip-set>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          (click)="redirectToSpotify(song.urlOpenOnSpotify)"
        >
          SPOTIFY
        </button>
        @if(!isInFavorites){
        <button mat-raised-button color="primary" (click)="handleFavorites()">
          FAVORITE
        </button>
        } @else {
        <button mat-stroked-button color="primary" (click)="handleFavorites()">
          DISCARD
        </button>
        }
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-list-item>
