<p>
  <mat-toolbar color="primary">
    <div class="max-width">
      <mat-toolbar-row>
        <span>
          <button mat-icon-button (click)="redirectToArtists()">
            <mat-icon>home</mat-icon>
          </button>
          <span>Musical Artists</span>
        </span>
        <span class="spacer"></span>
        <span>
          <img mat-card-avatar [src]="profileImg" />
          <span>{{ name }}</span>
          @if(hideMenu) {
          <button mat-icon-button (click)="viewMenu()">
            <mat-icon>menu</mat-icon>
          </button>
          } @else {
          <button mat-icon-button (click)="viewMenu()">
            <mat-icon>clear</mat-icon>
          </button>
          }
        </span>
      </mat-toolbar-row>

      @if(!hideMenu) {
      <mat-toolbar-row>
        <span>
          <button mat-icon-button (click)="redirectToArtists()">
            <mat-icon>add</mat-icon>
          </button>
          <span>Albums</span>
        </span>
        <span class="spacer"></span>
        <span>
          <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </span>
      </mat-toolbar-row>
      }
    </div>
  </mat-toolbar>
</p>
