@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

:root
  --light-primary: #753188
  --light-secondary: #2C272E
  --light-tertiary: #E59934
  --light-quaternary: #9AE66E
  --dark-primary: #75318880
  --dark-secondary: #2c272ebb
  --dark-tertiary: #E5993480
  --dark-quaternary: #9AE66E80

* 
  font-family: 'Roboto', sans-serif

.material-icons 
  font-family: 'Material Icons', sans-serif

body
  margin: 0px
  padding: 0px
  background-color: black