<p>
  <mat-toolbar color="primary">
    <div>
      <mat-card-header>
        <mat-card-title>Favorites</mat-card-title>
        <mat-card-subtitle>Albums and Tracks</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="400px">
          <mat-grid-tile>
            <mat-card class="main-container">
              <mat-list>
                <div mat-subheader>Albums</div>
                <mat-accordion>
                  @for (album of albums; track album.id) {
                  <app-album-card [album]="album" [isInFavorites]="true" />
                  }
                </mat-accordion>
              </mat-list>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="main-container">
              <mat-list>
                <div mat-subheader>Songs</div>
                <mat-accordion>
                  @for (song of songs; track song.id) {
                  <app-song-card [song]="song" [isInFavorites]="true" />
                  }
                </mat-accordion>
              </mat-list>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </div>
  </mat-toolbar>
</p>
